<div *ngIf="items.length === 0; else showItems">
  <p>Pas de tache en cours</p>
</div>
<ng-template #showItems>
  <ul *ngIf="items.length > 0" class="wish-list">
    <li *ngFor="let item of items; index as i">
      <div>
        <label>
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplete"
            [attr.data-index]="i"
            (click)="toggleItem(item)"
            >
            {{item.wishText}}
        </label>
      </div>
    </li>
  </ul>
</ng-template>
