<style>

</style>

<main class="main">
  <div class="content">

  <h1>{{title}}</h1>

  <label for="wish-input">
    <input
      type="text"
      name="wish-input"
      id="wish-input"
      [(ngModel)]="newWishText"
      >
      <input
        type="submit"
        (click)="$event.preventDefault(); addNewWish()"
        >
  </label>
  <label for="wish-state">
    <select
      name="wish-state"
      id="wish-state"
      [(ngModel)]="wishFilter"
      >
      <option value="0">Tout</option>
      <option value="1">Fait</option>
      <option value="2">A faire</option>
    </select>
  </label>

  <div *ngIf="items.length === 0; else showItems">
    <p>Pas de tache en cours</p>
  </div>
    <ng-template #showItems>
      <ul *ngIf="items.length > 0" class="wish-list">
        <li *ngFor="let item of visibleItems; index as i">
          <div>
            <label>
              <input
                class="checkbox"
                type="checkbox"
                [checked]="item.isComplete"
                [attr.data-index]="i"
                (click)="toggleItem(item)"
                >
                {{item.wishText}}
            </label>
          </div>
        </li>
      </ul>
    </ng-template>

  </div>
</main>

<router-outlet />
